body, html { 
    height:100%; 
    background-image: url("../asset/background.png");
    background-size: 100% 75%;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0;
    }

canvas {
    position:absolute;
    width:100%;
    height:100%;
    margin: 0; padding: 0;
}

#game_static {
    z-index: 1;
}
#game_dynamic {
    z-index: 2;
}
#game_ui {
    z-index: 3;
}

#splashScreen {
    position:absolute;
    width:100%;
    height:100%;
    margin: 0; padding: 0;
    background-image: url("../asset/splashscreen/introsplash.png");
    background-size: cover;
    z-index: 1000;
}



@-ms-viewport { width: 100vw ; zoom: 100% ; }                           
@viewport { width: 100vw ; zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; }                                    
@viewport { user-zoom: fixed ; }
